{{> nav/nav-block}}

<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card-header text-center">Add Item</div>
      <ul id="item-list">
      </ul>
      <div>
        <a id="create-item" type="button" class="btn btn-danger col-12" href="/create-edit-items">Create +</a>
      </div>
    </div>
    <div class="col-6 item-block hidden">
      <h5 class="card-title"><span id="item-name"></span></h5>
      <p class="card-text"><span id="item-desc" class="prewrap"></span></p>
    </div>
    <div class="col-2">
      <img class="mb-2 pointer" data-toggle="tooltip" data-placement="right" title="Return to Inventory"
        id="return-icon" alt="Return to Inventory" src="assets/images/return.png">
      <div class="item-block hidden">
        <img class="mb-2 pointer" data-toggle="tooltip" data-placement="right" title="Add Item" id="add-icon"
          alt="Add Item" src="assets/images/additem.png">
        <br>
        <a href="/create-edit-items" data-toggle="tooltip" data-placement="right" title="Edit Item">
          <img id="edit-icon" alt="Edit Item" src="assets/images/editquill.png">
        </a>
      </div>

    </div>
  </div>

  <script>
    sessionStorage.setItem('EditorId', {{ userInfo.id }});
  </script>

  <script src="/assets/js/item.js"></script>