{{> nav/nav-block}}

<<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="header">Create/Edit Item
        </div>
        <br>
        <div class="mb-3">
          <label for="Character Name" class="form-label">Character Name</label>
          <input type="Name" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
          <label for="Data" class="form-label">Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="20"></textarea>
        </div>
      </div>

      <div class="col-md-2">
        <button type="button" class="btn btn-danger">Save</button>
        <br>
        <button type="button" class="btn btn-danger">Discard</button>
      </div>
    </div>
  </div>
  </div>


  <script>
    var userId = {{ userInfo.id }};
  </script>