{{> nav/nav-block}}

<div id="home">
  <div class="container">
    <form id="item-form">
      <div class="row">
        <div class="col-md-10">
          <div id="title" class="header"></div>
          <br>
          <div class="mb-3">
            <label for="item-name-input" class="form-label">Item Name</label>
            <input type="Name" class="form-control" id="item-name-input" autocomplete="off" name="name">
          </div>
          <div class="mb-3">
            <label for="item-desc-input" class="form-label">Description</label>
            <textarea class="form-control" id="item-desc-input" rows="20" name="description"></textarea>
          </div>
        </div>

        <div class="col-md">
          <button id="save-item" type="submit" class="btn btn-danger btn-block">Save Character</button>
          <a type="button" class="btn btn-danger btn-block" href="/add-item">Discard</a>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="/assets/js/itemEditor.js"></script>