{{> nav/nav-block}}

<div id="main-container" class="container">
  <div class="jumbotron text-center header-wrap" align="center">
    <p class="lead">Welcome to <strong>RPG Manager</strong></p>
    <hr class="my-4">
    <div>
      <p>Login to access your characters.</p>
      <h5 id="login-err-msg"></h5>
    </div>
  </div>
</div>

