{{> nav/nav-block}}

<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="card-header text-center">Inventory Tracker
      </div>
      <ul id="inventory-list">
        <li>Item: Quantity: </li>
      </ul>
      <div>
        <a id="add-item" type="button" class="btn btn-danger col-5" href="/add-item">Add Item</a>
        <button id="remove-item" type="button" class="btn btn-danger col-5">Remove Item</button>
      </div>
    </div>
    <div class="col-6 hidden" id="itemDetails">
      <h5 class="card-title"><span id="item-name"></span></h5>
      <p class="card-text"><span id="item-desc" class="prewrap"></span></p>
      Quantity:
      <input id="item-quantity" type="number" class="btn btn-primary" min=0 max=99>
      <button id="inc-quantity" class="btn btn-primary quant-btn">+</button>
      <button id="dec-quantity" class="btn btn-primary quant-btn">−</button>
      <button id="save-quantity" class="ml-3 btn btn-primary">Save</button>
    </div>
    <div class="col-md">
      <a href="/">
        <img class="pointer" data-toggle="tooltip" data-placement="right" title="Return to Characters" id="return-icon"
          alt="Return to Characters" src="assets/images/return.png">
      </a>
    </div>
  </div>

  <script src="assets/js/inventory.js"></script>