{{> nav/nav-block}}

<div class="container">
  <div class="row">

    <div class="col-4">
      <div class="card-header text-center">Inventory Tracker
      </div>
      <ul id="inventory-list">
        <li>Item: Quantity: </li>
      </ul>
      <div class="col-md">
        <button id="add-item" type="button" class="btn btn-primary col-md">+ Item</button>
      </div>
    </div>
    <div class="col-6" id="itemDetails">Item Details
      <h5 class="card-title"><span id="item-name"></span></h5>
      <p class="card-text"><span id="item-desc" class="prewrap"></span></p>
      Quantity:
      <input id="item-quantity" type="number" class="btn btn-primary" min=0 max=99>
      <button id="inc-quantity" class=" btn btn-primary">Inc</button>
      <button id="dec-quantity" class="btn btn-primary">Dec</button>
      <button id="save-quantity" class="btn btn-primary">Save</button>
    </div>
    <div class="col-md">
      <input type="button" class="btn btn-primary" onclick="location.href='/';" value="â† Character list" />
    </div>
  </div>

  <script src="assets/js/inventory.js"></script>