{{> nav/nav-block}}

<div class="container">
  <div class="row">
    <div class="col-12">Inventory Tracker</div>
    <div class="col-4"> Item Inventory
        <ul>
            <li>Item:   Quantity:  </li>
        </ul>
    <div>
         <button id="login" type="button" class="btn btn-primary">+ Item</button>
    </div>
    </div>
    <div class="col-6">Item Details
       <h5 class="card-title">Item Name: </h5>
        <p class="card-text">Item Description: </p>
  </div>
  <div>
      <!-- The raise and lower quanitity button needs to be affixed -->
       <button id="login" type="button" class="btn btn-primary">Quantity: </button>
  </div>

</div>
