body {
  background-image: url("../images/background.jpg");
  color: white;
  background-size: center;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#inventoryIcon {
  background: transparent;
  height: 100px;
  width: 100px;
}

.jumbotron {
  background: rgba(0,0,0,0);
}

.modal {
  color: black;
}


#user-form, .header-wrap, #create-form, .create-user-wrap {
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
}

#update-err-msg,
#login-err-msg,
#create-err-msg,
.validation-err {
  color: red !important;
}

#go-home {
 width: auto;
 height: 65px;
}
.card, .list-group-item, p{
  background: rgba(86, 101, 115,.6);
  color: white;
}
.container {
  padding: 2%;
  margin-top: 10%;
  background: rgba(86, 101, 115,.6);
  height:100%;
  border-radius: .25rem;
}

[data-useremail="true"] {
  color: white !important;
}
[data-register="true"] {
  color: white !important;
}

.lead {
  font-size: 1.8rem;
  font-weight: 500;
}

.userId h2, .header-wrap h1 {
  text-transform: capitalize;
}

hr {
  background-color: #fff !important;
}

.list-group-item {
  line-height: 2.5;
}

.header, .card-header {
  color: rgb(197, 175, 47);
  font-weight: 900;
  font-size: x-large;
  font-family: 'MedievalSharp', cursive;
}

.list-group-item, .form-label{
  color: rgb(197, 175, 47);
  font-weight: 1000;

}

.card-body {
  color: #444;
}

.form-group{
  color: rgb(255, 255, 255);
  font-weight: 900;
}

nav {
  font-family: 'MedievalSharp', cursive;
  color: rgb(197, 175, 47);
}

.navbar-brand {
  color: rgb(197, 175, 47);
}

.row {
  border-radius: 3em;
}
.prewrap {
  white-space: pre-wrap;
}

.hidden {
  display: none;
}

.bs-tooltip-bottom {
  top: 30px !important;
}

.btn {
	box-shadow: 0px 1px 0px 0px #3d3b37;
	background:linear-gradient(to bottom, #dbdad7 5%, #a8a8a8 100%);
	background-color:#dbdad7;
	border-radius:15px;
	border:2px solid #857d6a;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btn:hover {
	background:linear-gradient(to bottom, #a8a8a8 5%, #dbdad7 100%);
	background-color:#a8a8a8;
}
.btn:active {
	position:relative;
	top:1px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
}

