/*========================================================================
Universal Page styling
*=======================================================================*/

body {
  background-image: url("../images/background.jpg");
  color: white;
  background-size: center;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.row {
  border-radius: 3em;
}

.pointer {
  cursor: pointer;
}

/*========================================================================
Icon and Button Styling 
*=======================================================================*/

#inventoryIcon {
  background: transparent;
  height: 100px;
  width: 100px;
}

.btn {
	box-shadow: 0px 1px 0px 0px #3d3b37;
	background:linear-gradient(to bottom, #dbdad7 5%, #a8a8a8 100%);
	background-color:#dbdad7;
	border-radius:15px;
	border:2px solid #857d6a;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btn:hover {
	background:linear-gradient(to bottom, #a8a8a8 5%, #dbdad7 100%);
	background-color:#a8a8a8;
}
.btn:active {
	position:relative;
	top:1px;
}

.quant-btn {
  width: 3rem;
  border-radius: 8px;
  font-size: 1.2rem;
  padding: 8px;
}

.selected-char-btn,
.selected-item-btn,
.selected-inv-btn {
  background-color: rgba(197, 175, 47, 0.295);
  color: #111;

.bs-tooltip-bottom {
  top: 30px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
}
/*========================================================================
Input area/Text area Styling
*=======================================================================*/

::placeholder {
  color: white !important;
  opacity: .50 !important;
}


.form-control {
  background-color: #444 !important;
  color:white !important; 
}

.form-group{
  color: rgb(255, 255, 255);
  font-weight: 900;
}

.form-control:focus {
  outline: none;
  box-shadow:none !important;
  border:1px solid white;
}

textarea {
  color:white !important; 
}

/*========================================================================
Card Styling/Container Style
*=======================================================================*/

.header, .card-header {
  color: rgb(197, 175, 47);
  font-weight: 900;
  font-size: x-large;
  font-family: 'MedievalSharp', cursive;
}

.prewrap {
  white-space: pre-wrap;
}

.container {
  padding: 2%;
  margin-top: 10%;
  background: rgba(86, 101, 115,.6);
  height:100%;
  border-radius: .25rem;
}

#user-form, .header-wrap, #create-form, .create-user-wrap {
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
}

.card, .list-group-item, p{
  background: rgba(86, 101, 115,.6);
  color: white;
}

.card-body {
  color: #444;
}

.list-group-item {
  line-height: 2.5;
}

.list-group-item, .form-label{
  color: rgb(197, 175, 47);
  font-weight: 1000;
}

#inventory-list {
  padding-left: 0px;
}

#item-list {
  padding: 0%;
}

/*========================================================================
Modal Styling
*=======================================================================*/

.jumbotron {
  background: rgba(0,0,0,0);
}

.modal {
  color: black;
}

hr {
  background-color: #fff !important;
}

.lead {
  font-size: 1.8rem;
  font-weight: 500;
}

.userId h2, .header-wrap h1 {
  text-transform: capitalize;
}

#logout-modal, #login-modal, #register-modal {
  color: rgb(197, 175, 47);
}
/*========================================================================
Nav-Bar Style
*=======================================================================*/

nav {
  font-family: 'MedievalSharp', cursive;
  color: rgb(197, 175, 47);
}

.navbar-brand {
  color: rgb(197, 175, 47);
}

/*========================================================================
Element Hiding
*=======================================================================*/

.hidden {
  visibility: hidden;
}


.remove {
  display: none;
 }

/*========================================================================
Error Messages
*=======================================================================*/

#update-err-msg,
#login-err-msg,
#create-err-msg,
.validation-err {
  color: red !important;
}

